    /* ============================= */
    /* FIRST HEADER SECTION STYLES */
    /* ============================= */
    .firstheader {
      width: 100%;
      height: 13vh;
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
    }

    .ecourses {
      width: 20%;
      height: 100%;
      /* background-color: aqua; */
    }

    .ecourses h1 {
      text-align: center;
      padding-top: 25px;
      font-size: 35px;
    }

    .ecourses h1::first-letter {
      color: tomato;
    }

    .office {
      width: 30%;
      height: 100%;
      /* background-color: lightgreen; */
    }

    .office h3 {
      margin-left: 30px;
      padding-top: 20px;
    }

    .office p {
      margin-left: 30px;
    }

    .gmail {
      width: 20%;
      height: 100%;
      /* background-color: lightpink; */
    }

    .gmail h3 {
      margin-left: 30px;
      padding-top: 20px;
    }

    .gmail p {
      margin-left: 30px;
    }

    .contact {
      width: 25%;
      height: 100%;
      /* background-color: lightgray; */
    }

    .contact h3 {
      margin-left: 30px;
      padding-top: 20px;
    }

    .contact p {
      margin-left: 30px;
    }

    /* ============================= */
    /* SECOND HEADER SECTION STYLES */
    /* ============================= */
    .secondheader {
      width: 100%;
      height: 10vh;
      background-color: #ffffff;
      display: flex;
    }

    .subject {
      width: 30%;
      height: 100%;
      /* background-color: green; */
    }

    .subject h1 {
      text-align: center;
      font-size: 35px;
      padding-top: 15px;
    }

    .tags {
      width: 70%;
      height: 100%;
      /* background-color: yellow; */
      display: flex;
      justify-content: space-between;
    }

    a {
      text-decoration: none;
      color: black;
      font-size: 20px;
      padding-top: 25px;
    }

    a:hover {
      color: tomato;
    }

    button {
      width: 120px;
      height: 60%;
      background-color: tomato;
      border-radius: 10px;
      margin-top: 15px;
      margin-right: 30px;
      border: none;
    }

    button p {
      font-size: 20px;
    }

    button:hover {
      cursor: pointer;
      background-color: red;
    }

    .photo {
      width: 100%;
      height: 100vh;
      background-color: aqua;
      background-image: url("./assets/image/carousel-1.jpg");
      background-size: cover;
    }

    .photo h2 {
      text-align: center;
      padding-top: 15%;
      font-size: 40px;
      padding-right: 40%;
      color: #fbddb3;
    }

    .photo h1 {
      text-align: center;
      font-size: 75px;
      color: #fbddb3;
      padding-right: 12%;
    }

    .photo h3 {
      text-align: center;
      font-size: 75px;
      color: #fbddb3;
      padding-right: 38%;
    }

    .photo button {
      width: 200px;
      height: 50px;
      margin-left: 18%;
      font-size: 20px;
      background-color: red;
      border: none;
    }

    .photo button p {
      font-size: 20px;
    }

    .photo button:hover {
      cursor: pointer;
      background-color: darkred;
    }

    /* ============================= */
    /* ABOUT SECTION STYLES */
    /* ============================= */
    .about {
      width: 100%;
      height: 100vh;
      background-color: lightgray;
    }

    /* ==================================== */
    /* ======Responsive Designing========== */
    /* ==================================== */


    @media screen and (max-width: 1920px) {
      .ecourses h1 {
        text-align: center;
        padding-top: 62px;
        font-size: 60px;
      }

      .office h3 {
        padding-top: 47px;
        font-size: 50px;
      }

      .office p {
        font-size: 34px;
      }

      .office {
        width: 43%;
      }

      .gmail h3 {
        padding-top: 55px;
        font-size: 50px;
      }

      .gmail p {
        /* margin-left: 30px; */
        font-size: 30px;
      }

      .contact h3 {
        margin-left: 160px;
        padding-top: 55px;
        font-size: 50px;
      }

      .contact p {
        margin-left: 162px;
        font-size: 36px;
      }

      /* header 2 */
      .subject h1 {
        text-align: center;
        font-size: 70px;
        padding-top: 27px;
      }

      a {
        text-decoration: none;
        color: black;
        font-size: 50px;
        padding-top: 33px;
      }

      button {
        width: 165px;
        height: 50%;
        background-color: tomato;
        border-radius: 10px;
        margin-top: 25px;
        margin-right: 15px;
        border: none;
      }

      button p {
        font-size: 37px;
      }



      .photo h2 {
        text-align: center;
        padding-top: 25%;
        font-size: 57px;
        padding-right: 40%;
        color: #fbddb3;
      }

      .photo h1 {
        text-align: center;
        font-size: 100px;
        color: #fbddb3;
        padding-right: 16%;
      }

      .photo h3 {
        text-align: center;
        font-size: 108px;
        color: #fbddb3;
        padding-right: 38%;
      }

      .photo button {
        width: 280px;
        height: 92px;
        margin-left: 18%;
        font-size: 20px;
        background-color: red;
        border: none;
      }

      .photo button p {
        font-size: 38px;
      }
    }

@media screen and (max-width: 1700px){
  /* header 1 start */
      .ecourses h1 {
        text-align: center;
        padding-top: 69px;
        font-size: 50px;
    }
        .office h3 {
        padding-top: 53px;
        font-size: 43px;
    }
    .office p {
        font-size: 25px;
    }
    .gmail h3 {
        padding-top: 59px;
        font-size: 40px;
    }
        .gmail p {
        /* margin-left: 30px; */
        font-size: 25px;
    }
    .contact h3 {
        margin-left: 140px;
        padding-top: 63px;
        font-size: 40px;
    }
        .contact p {
        margin-left: 140px;
        font-size: 25px;
    }
    /* header 1 end */
    /* header 2 start */
    .subject {
    width: 20%;
    height: 100%;
}
    .subject h1 {
        text-align: center;
        font-size: 60px;
        padding-top: 27px;
    }
    a {
        text-decoration: none;
        color: black;
        font-size: 38px;
        padding-top: 33px;
    }
        button {
        width: 165px;
        height: 50%;
        background-color: tomato;
        border-radius: 10px;
        margin-top: 25px;
        margin-right: -130px;
        border: none;
    }
    .photo h2 {
        text-align: center;
        padding-top: 25%;
        font-size: 66px;
        padding-right: 40%;
        color: #fbddb3;
    }
        .photo h3 {
        text-align: center;
        font-size: 108px;
        color: #fbddb3;
        padding-right: 42%;
    }
    .photo button {
        width: 280px;
        height: 92px;
        margin-left: 14%;
        font-size: 20px;
        background-color: red;
        border: none;
    }
}
@media screen and (max-width : 1350px){
  
      .ecourses h1 {
        /* text-align: center; */
        padding-top: 72px;
        font-size: 37px;
    }
        .office h3 {
        padding-top: 40px;
        font-size: 35px;
    }
        .office p {
        font-size: 20px;
    }
        .gmail h3 {
        padding-top: 40px;
        font-size: 35px;
    }
        .gmail p {
        /* margin-left: 30px; */
        font-size: 20px;
    }
        .contact h3 {
        margin-left: 95px;
        padding-top: 40px;
        font-size: 35px;
    }
    .contact p {
        margin-left: 95px;
        font-size: 20px;
    }
}