    /* ============================= */
     /* FIRST HEADER SECTION STYLES */
    /* ============================= */
.firstheader{
  width: 100%;
  height: 13vh;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.ecourses{
  width: 20%;
  height: 100%;
  /* background-color: aqua; */
}
.ecourses h1{
  text-align: center;
  padding-top: 25px;
  font-size: 35px;
}
.ecourses h1::first-letter{
  color: tomato;
}
.office{
  width: 30%;
  height: 100%;
  /* background-color: lightgreen; */
}
.office h3{
  margin-left: 30px;
  padding-top: 20px;
}
.office p{
  margin-left: 30px;
}
.gmail{
  width: 20%;
  height: 100%;
  /* background-color: lightpink; */
}
.gmail h3{
  margin-left: 30px;
  padding-top: 20px;
}
.gmail p{
  margin-left: 30px;
}
.contact{
  width: 25%;
  height: 100%;
  /* background-color: lightgray; */
}
.contact h3{
  margin-left: 30px;
  padding-top: 20px;
}
.contact p{
  margin-left: 30px;
}
    /* ============================= */
     /* SECOND HEADER SECTION STYLES */
    /* ============================= */
.secondheader{
  width: 100%;
  height: 10vh;
  background-color: #ffffff;
  display: flex;
}
.subject{
  width: 30%;
  height: 100%;
  /* background-color: green; */
}
.subject h1{
  text-align: center;
  font-size: 35px;
  padding-top: 15px;
}
.tags{
  width: 70%;
  height: 100%;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
}
a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding-top: 25px; 
}
a:hover{
  color: tomato;
}
button{
  width: 120px;
  height: 60%;
  background-color: tomato;
  border-radius: 10px;
  margin-top: 15px;
  margin-right: 30px;
}
button p{
  font-size: 20px;
}
button:hover{
  cursor: pointer;
  background-color: red;
}
.photo{
  width: 100%;
  height: 100vh;
  background-color: aqua;
  background-image: url("./assets/image/carousel-1.jpg");
  background-size: cover;
}
.photo h2{
  text-align: center;
  padding-top: 15%;
  font-size: 40px;
  padding-right: 40%;
  color: #fbddb3;
}
.photo h1{
  text-align: center;
  font-size: 75px;
  color: #fbddb3;
  padding-right: 12%;
}
.photo h3{
  text-align: center;
  font-size: 75px;
  color: #fbddb3;
  padding-right: 38%;
}
.photo button{
  width: 200px;
  height: 50px;
  margin-left: 18%;
  font-size: 20px;
  background-color: red;
  border: none;
}
.photo button:hover{
  cursor: pointer;
  background-color: darkred;
}
    /* ============================= */
     /* ABOUT SECTION STYLES */
    /* ============================= */
.about{
  width: 100%;
  height: 100vh;
  background-color: lightgray;
}
